.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control input {
  border: 1px solid #4ddc1e;
  font: inherit;
  border-radius: 2px;
}

.form-control {
  margin: 1rem 0;
}

button {
  font: inherit;
  border: 1px solid #2811be;
  color: #2811be;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #2811be;
  color: white;
}